# ENVO USERBOT
# Created by @envologia

# ——— Ultroid-Required ———
# Get from my.telegram.org
API_KEY="your_api_key"
API_HASH="your_api_hash"

# Get from @BotFather
BOT_TOKEN="your_bot_token"

# Any string
SESSION="your_session_string"


# For OpenRouter API
OPENROUTER_API_KEY="your_openrouter_api_key"
